<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content=="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/styles/main.css' />
</head>

<body>
  <header>
    <h1>Olá, eu sou <%= name %></h1>
    <p><%= profession %></p>
  </header>
  <main>

    <p><%= description %></p>
    <ul>
      <% experience.map(experience => { %>
      <li>
        <div>
          <strong><%= experience.company %>:</strong>
          <strong><%= experience.office %></strong>
          <br>
          <span><%= experience.description %></span>
        </div>
      </li>
      <% }); %>
    </ul>
    <ul>
      <% education.map(education => { %>
      <li>
        <div>
          <strong><%= education.institution %></strong>
          <br>
          <span><%= education.description %></span>
        </div>
      </li>
      <% }); %>
    </ul>
    <ul>
      <% skills.map(skill => { %>
      <li><%= skill %></li>
      <% }); %>
    </ul>

    <ul class="card-list">
      <% projects.map(projects => { %>
      <li>
        <div class="card-list__shape">
          <div class="card-list__shape--small"></div>
          <div class="text">
            <p><%= projects.name %></p>
            <p><%= projects.description %></p>
            <a target="_blank" href="<%= projects.repository %>" class="explore-button">Explore</a>

          </div>

      </li>


      </div>

      <% }); %>

    </ul>
    </div>






  </main>
</body>

</html>