<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content=="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Curriculum and portfolio developed with ejs template, Node.js and Express">
  <link rel="shortcut icon" href="../assets/bgp.png" type="image/png" sizes="16x16">

  <link rel='stylesheet' href='/styles/css/main.css' />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://kit.fontawesome.com/0999dad2cf.js" crossorigin="anonymous"></script>
</head>

<body class="curriculum">
  <header>
    <h1><%= name %></h1>
    <p><%= profession %></p>
    <hr>
  </header>

  <main>
    <section class="container-about">
      <div class="description-area">
        <div class="bullet-number">
          <h2>01<span>_</span><span>Perfil </span></h2>
          <p><%= description %></p>

        </div>
      </div>

    </section>

    <section data-aos="fade-up" class="container-career">
      <div class="description-area">
        <div class="bullet-number">
          <h2>02<span>_</span><span>Carreira </span></h2>
        </div>
        <ul>
          <% experience.map(experience => { %>
          <li data-aos="fade-up">
            <div>
              <h3><%= experience.company %> | <%= experience.office %></h3>
              <br>
              <span><%= experience.description %></span>
            </div>
            <div class="highlight">
              <p aria-label="Primeira principal skill"><%= experience.firstHighlight %></p>
              <p aria-label="Segunda principal skill"><%= experience.scndHighlight %></p>
              <p aria-label="Terceira principal skill"><%= experience.thirdHighlight %></p>
            </div>

          </li>
          <% }); %>
        </ul>
      </div>
    </section>

    <section data-aos="fade-up" class="container-education">
      <div class="description-area">
        <div class="bullet-number">
          <h2>03.1<span>_</span><span>Formação </span></h2>
        </div>
        <ul>
          <% education.map(education => { %>
          <li>
            <div>
              <strong><%= education.institution %></strong>
              <br>
              <span><%= education.description %></span>
              <br>
              <span><%= education.period %></span>
            </div>
          </li>
          <% }); %>
        </ul>
      </div>

      <div class="description-area__extension">
        <div class="bullet-number">
          <h2>03.2<span>_</span><span>Cursos </span></h2>
        </div>

        <section>
          <h2 id="ex_label">Example</h2>
          <div role="separator" id="ex_start_sep" aria-labelledby="ex_start_sep ex_label" aria-label="Start of"></div>
          <div id="ex1">
            <div class="tabs">
              <div role="tablist" aria-label="Entertainment">
                <button role="tab" aria-selected="false" aria-controls="nils-tab" id="nils" tabindex="-1">Nils Frahm</button>
                <button role="tab" aria-selected="true" aria-controls="agnes-tab" id="agnes">Agnes Obel</button>
                <button role="tab" aria-selected="false" aria-controls="complexcomplex" id="complex" data-deletable="" tabindex="-1">Joke</button>
              </div>

              <div tabindex="0" role="tabpanel" id="nils-tab" aria-labelledby="nils" hidden="hidden">
                <p>Nils Frahm is a German musician, composer and record producer based in Berlin. He is known for combining classical and electronic music and for an unconventional approach to the piano in which he mixes a grand piano, upright piano, Roland Juno-60, Rhodes piano, drum machine, and Moog Taurus.</p>
              </div>

              <div tabindex="0" role="tabpanel" id="agnes-tab" aria-labelledby="agnes">
                <p>Agnes Caroline Thaarup Obel is a Danish singer/songwriter. Her first album, Philharmonics, was released by PIAS Recordings on 4 October 2010 in Europe. Philharmonics was certified gold in June 2011 by the Belgian Entertainment Association (BEA) for sales of 10,000 Copies.</p>
              </div>

              <div tabindex="0" role="tabpanel" id="complexcomplex" aria-labelledby="complex" hidden="hidden">
                <p>Fear of complicated buildings:</p>
                <p>A complex complex complex.</p>
              </div>
            </div>
          </div>
          <div role="separator" id="ex_end_sep" aria-labelledby="ex_end_sep ex_label" aria-label="End of"></div>
        </section>
      </div>




    </section>

    <section id="porftolio" class="container-portfolio">
      <div class="description-area">
        <div class="bullet-number">
          <h2>04<span>_</span><span>Projetos </span></h2>
        </div>

      </div>

      <ul class="card-list">
        <% projects.map(projects => { %>
        <li data-aos="<%= projects.fade %>">
          <div class="card-list__shape">
            <div class="text">
              <h2><%= projects.name %></h2>
              <p><%= projects.description %></p>
              <div class="text__links">
                <a target="_blank" href="<%= projects.repository %>"><i title="Link para o projeto" class="fas fa-external-link-alt"></i></a>
                <a target="_blank" href="<%= projects.repository %>"><i title="Repositório do projeto no Github" class="fas fa-code-branch "></i></i></a>
              </div>
              <div class="card-list__shape--stack">
                <span>Stack:</span>
                <i class="<%= projects.stack1 ? projects.stack1 : 'hidden-item'%>"></i>
                <span class="sr-only"><%= projects.stackAria1 %></span>
                | <i class="<%= projects.stack2 ? projects.stack2 : 'hidden-item'%>"></i>
                <span class="sr-only"><%= projects.stackAria2 %></span>
                | <i class="<%= projects.stack3 ? projects.stack3 : 'hidden-item' %>">|</i>
                <span class="sr-only"><%= projects.stackAria3 %></span>
              </div>
            </div>

        </li>
        <% }); %>
      </ul>
    </section>
  </main>
  <footer>
    <p>Footer <span> /></span></p>
    <div class="description-footer">

      <p>Desenvolvido com HTML, CSS, Javascript vanilla, Node.JS e EJS template. </p>
      <p>Todos os direitos reservados.<br>Bruna G. Paula<br></p>
      <div class="icons-box">
        <a target="_blank" href="https://github.com/brubriele"><i class="fa fa-github-alt"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/bruna-gabriele-de-paula"><i class="fa fa-linkedin"></i></a>
        <a target="_blank" href="mailto:brunagabriele.paula@gmail.com"><i class="fa fa-envelope"></i></a>
      </div>
    </div>
  </footer>

  <script src="/scripts/script.js"></script>
  <script>
    AOS.init();

  </script>
</body>

</html>