<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content=="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Curriculum and portfolio developed with ejs template, Node.js and Express">
  <link rel="shortcut icon" href="../assets/bgp.png" type="image/png" sizes="16x16">

  <link rel='stylesheet' href='/styles/css/main.css' />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://kit.fontawesome.com/0999dad2cf.js" crossorigin="anonymous"></script>
</head>

<body class="curriculum">
  <header>
    <h1><%= name %></h1>
    <p><%= profession %></p>
    <hr>
  </header>

  <main>
    <section class="container-about">
      <div class="description-area">
        <div class="bullet-number">
          <h2>01<span>_</span><span>Perfil </span></h2>
          <p><%= description %></p>

        </div>
      </div>

    </section>

    <section data-aos="fade-up" class="container-career">
      <div class="description-area">
        <div class="bullet-number">
          <h2>02<span>_</span><span>Carreira </span></h2>
        </div>
        <ul>
          <% experience.map(experience => { %>
          <li>
            <div>
              <strong><%= experience.company %>:</strong>
              <strong><%= experience.office %></strong>
              <br>
              <span><%= experience.description %></span>
            </div>
          </li>
          <% }); %>
        </ul>
        <ul>
          <% education.map(education => { %>
          <li>
            <div>
              <strong><%= education.institution %></strong>
              <br>
              <span><%= education.description %></span>
            </div>
          </li>
          <% }); %>
        </ul>
        <ul>
          <% skills.map(skill => { %>
          <li><%= skill %></li>
          <% }); %>
        </ul>

      </div>
    </section>

    <section data-aos="fade-up" class="container-career">
      <div class="description-area">
        <div class="bullet-number">
          <h2>02<span>_</span><span>Carreira </span></h2>
        </div>
        <ul>
          <% experience.map(experience => { %>
          <li>
            <div>
              <strong><%= experience.company %>:</strong>
              <strong><%= experience.office %></strong>
              <br>
              <span><%= experience.description %></span>
            </div>
          </li>
          <% }); %>
        </ul>
        <ul>
          <% education.map(education => { %>
          <li>
            <div>
              <strong><%= education.institution %></strong>
              <br>
              <span><%= education.description %></span>
            </div>
          </li>
          <% }); %>
        </ul>
        <ul>
          <% skills.map(skill => { %>
          <li><%= skill %></li>
          <% }); %>
        </ul>

      </div>
    </section>

    <section id="porftolio" class="container-portfolio">
      <div class="description-area">
        <div class="bullet-number">
          <h2>03<span>_</span><span>Projetos </span></h2>
        </div>

      </div>

      <ul class="card-list">
        <% projects.map(projects => { %>
        <li data-aos="<%= projects.fade %>">
          <div class="card-list__shape">
            <div class="text">
              <h2><%= projects.name %></h2>
              <p><%= projects.description %></p>
              <a target="_blank" href="<%= projects.repository %>"><i class="fas fa-external-link-alt"></i></a>




              <div class="card-list__shape--stack">
                <span>Stack:</span>
                <i class="<%= projects.stack1 ? projects.stack1 : 'hidden-item'%>"></i>
                | <i class="<%= projects.stack2 ? projects.stack2 : 'hidden-item'%>"></i>
                | <i class="<%= projects.stack3 ? projects.stack3 : 'hidden-item' %>">|</i>
              </div>
            </div>

        </li>
        <% }); %>
      </ul>
    </section>
  </main>
  <footer>
    <p>Footer <span> /></span></p>
    <div class="description-footer">

      <p>Desenvolvido com HTML, CSS, Javascript vanilla, Node.JS e EJS template. </p>
      <p>Todos os direitos reservados.<br>Bruna G. Paula<br></p>
      <div class="icons-box">
        <a target="_blank" href="https://github.com/brubriele"><i class="fa fa-github-alt"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/bruna-gabriele-de-paula"><i class="fa fa-linkedin"></i></a>
        <a target="_blank" href="mailto:brunagabriele.paula@gmail.com"><i class="fa fa-envelope"></i></a>
      </div>
    </div>
  </footer>

  <script>
    AOS.init();
  </script>
</body>

</html>